PORT=3000

DB_URL="postgresql://root:postgres@localhost:5432/mydb"
DB_PASSWORD="postgres"
DB_USER="root"
DB_NAME="mydb"
DB_HOST="localhost"
DB_PORT=5432
JWT_SECRET_KEY="qvDMMARI89LX5vlgI88hyuvcERlTB38sJJMOGO0VbPdCfgRm0CxBSy949TnO4x"
JWT_EXPIRES_IN="7d"
REFRESH_TOKEN_SECRET_KEY="VmEuSDG8SbFOLZS4HOoROeVppozYBPybLbO7E+hXmCVVfGQxD5hDqap0fCaO8vd+2DpI2ALR76jr9AOLDYEQ"
REFRESH_TOKEN_EXPIRES_IN="7d"

RATE_LIMITER_WINDOW=60000
RATE_LIMITER_DELAY=1800000
RATE_LIMITER_MAX=1000
MAX_RATE_LIMIT=1000

V1="/api/v1"
NODE_ENV="development"